.answer-choice, .btn {
	border: 1px solid blue;
    border-radius: 5%;
	width: 40%;
	color: black;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    background-color: lightpink;
}

img {
    max-height: 250px;
    width: auto;
    height: auto;
}

#answer-section, #question-section, h1, .container {
    text-align: center;
}

#question-section {
    font-weight: bold;
}

#reset {
    visibility: visible;
}

body {
    background-image: url("../images/bg.jpg");
    background-repeat: repeat;
}

h1 {
    font-weight: bolder;
    padding: 20px;
    font-size: 45px;
}

p {
    margin: 10px;
    font-size: 20px;
}

h2, h4 {
    margin: 30px;
}

.container {
    margin: 10px auto;
    background-color: palegoldenrod;
    height: 600px;
    width: 60%;
    font-family: 'Times New Roman', Times, serif;
}

.btn {
    position: relative;
    width: 60%;
}

#start {
    bottom: -150px;;
}